<div id="navbar" class="header-container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 left-navbar">
      <h2>Daftar Buku</h2>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 right-navbar">
      <button class="btn btn-icon btn-new-menu" style="color: #fff;margin-right: 20px; background-color: #107c41; box-shadow: 0 0 0 0 rgba(34,36,38,.15)"
              (click)="openDownloadModal(DownloadTemplate)">
        <i class="download icon"></i>
        Unduh Excel
      </button>
      <button class="btn btn-primary btn-icon btn-new-menu" (click)="openModal(template)">
        <i class="plus icon"></i>
        Tambahkan Buku
      </button>
    </div>
  </div>
</div>

<div *ngIf="loading;else loads" class="ui segment" style="padding: 200px 0 0 0 ">
  <div class="ui active inverted dimmer">
    <div class="ui large text loader">Loading</div>
  </div>
</div>

<ng-template #loads>

  <div class="mt-3 pb-0" style="width: 100%">
    <div class="row align-self-center" style="margin-top: 20px; z-index: 98;">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
        <div class="category" style="display: flex">
          <ng-select [items]="Category"
                     bindLabel="kategori"
                     placeholder="Kategori..."
                     autofocus
                     bindValue="kategori"
                     [(ngModel)]="selectedCategory"
                     (change)="onCategoryChange($event)"
                     style="width: 120%">
          </ng-select>
          <div class="ui icon button" style="margin-left: 5px" (click)="openModal(CategoryTemplate)">
            <i class="edit outline icon"></i>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <div class="ui search">
          <input class="prompt" style="width: 100%" type="text" placeholder="Mencari buku..." [(ngModel)]="search" (keyup)="onSearch(search)" (search)="onSearch(search)">
          <div class="results"></div>
        </div>
      </div>
    </div>
    <div class="row align-self-center">
    </div>
  </div>

  <div *ngIf="nodata; else theredata" class="card" style="margin-top: 10px; padding: 10px">
    <div style="text-align:center ;">
      <p class="ml-2" style="font-size: 18px; padding: 2rem;">Pencarian tidak ditemukan!</p>
    </div>
  </div>

  <ng-template #theredata>
    <table class="ui celled padded table">
      <thead>
      <tr><th class="single line">ID Buku</th>
        <th>Judul</th>
        <th>Pengarang</th>
        <th>Penerbit</th>
        <th>Tahun Terbit</th>
        <th>Klasifikasi</th>
        <th>Kategori</th>
        <th>Umum/Res</th>
        <th>Bahasa</th>
        <th>Lokasi</th>
        <th>Stok</th>
        <th>Edit</th>
      </tr></thead>
      <tbody>
      <!--  <tr *ngFor="let item of pageOfItems | paginate: config">-->
      <tr *ngFor="let item of pageOfItems">
        <td style="text-align: center; margin: 0 auto"><img src="{{item.gambar}}" style="height: 100px"><div>{{item.buku_id}}</div></td>
        <td>{{item.judul}}</td>
        <td>{{item.pengarang}}</td>
        <td>{{item.penerbit}}</td>
        <td>{{item.tahun_terbit}}</td>
        <td>{{item.klasifikasi}}</td>
        <td>{{item.kategori}}</td>
        <td>{{item.umum_res}}</td>
        <td>{{item.bahasa}}</td>
        <td>{{item.lokasi}}</td>
        <td>{{item.stok}}</td>
        <td>
          <div style="display: block">
            <a (click)="onView(item.buku_id, update)"><i class="edit outline icon"></i></a>
            <a></a>
            <a (click)="onModalDelete(item.buku_id, delete)"><i class="trash alternate outline icon"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr><th colspan="12">
        <pagination previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
                    [totalItems]="config.totalItems" [itemsPerPage]="config.itemsPerPage" [(ngModel)]="config.currentPage" (pageChanged)="onPageChange($event)"></pagination>
      </th></tr>
      </tfoot>
    </table>
  </ng-template>
</ng-template>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Tambahkan Buku</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="ui form" #bookForm="ngForm">

      <div class="required field" [class.error]="judul.invalid && judul.touched">
        <label>Judul</label>
        <input required #judul="ngModel" type="text" name="judul" placeholder="Judul" [(ngModel)]="inputBook.judul">
      </div>

      <div class="required field" [class.error]="pengarang.invalid && pengarang.touched">
        <label>Pengarang</label>
        <input required #pengarang="ngModel" type="text" name="pengarang" placeholder="pengarang" [(ngModel)]="inputBook.pengarang">
      </div>

      <div class="required field" [class.error]="deskripsi.invalid && deskripsi.touched">
        <label>Deskripsi</label>
        <textarea required rows="2" #deskripsi="ngModel" type="text" name="Deskripsi" placeholder="Deskripsi" [(ngModel)]="inputBook.deskripsi"></textarea>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Edisi</label>
          <input #edisi="ngModel" type="text" name="edisi" placeholder="Edisi" [(ngModel)]="inputBook.edisi">
        </div>
        <div class="required field" [class.error]="tahun_terbit.invalid && tahun_terbit.touched">
          <label>Tahun Terbit</label>
          <input required #tahun_terbit="ngModel" type="text" name="tahun_terbit" placeholder="tahun_terbit" [(ngModel)]="inputBook.tahun_terbit">
        </div>
      </div>

      <div class="two fields">
        <div class="required field" [class.error]="penerbit.invalid && penerbit.touched">
          <label>Penerbit</label>
          <input required #penerbit="ngModel" type="text" name="Penerbit" placeholder="Penerbit" [(ngModel)]="inputBook.penerbit">
        </div>
        <div class="required field">
          <label>ISBN</label>
          <input #isbn="ngModel" type="text" name="isbn" placeholder="isbn" [(ngModel)]="inputBook.isbn">
        </div>
      </div>

      <div class="two fields">
        <div class="required field" [class.error]="bahasa.invalid && bahasa.touched">
          <label>Bahasa</label>
          <input required #bahasa="ngModel" type="text" name="bahasa" placeholder="bahasa" [(ngModel)]="inputBook.bahasa">
        </div>
        <div class="field">
          <label>Kota Terbit</label>
          <input #kota_terbit="ngModel" type="text" name="Kota_Terbit" placeholder="Kota Terbit" [(ngModel)]="inputBook.kota_terbit">
        </div>
      </div>

      <div class="fields">
        <div class="required eight wide field" [class.error]="klasifikasi.invalid && klasifikasi.touched">
          <label>Klasifikasi</label>
          <input required #klasifikasi="ngModel" type="text" name="klasifikasi" placeholder="klasifikasi" [(ngModel)]="inputBook.klasifikasi">
        </div>
        <div class="required four wide field" [class.error]="umum_res.invalid && umum_res.touched">
          <label>Umum/Res</label>
          <input required #umum_res="ngModel" type="text" name="Umum/Res" placeholder="Umum/Res" [(ngModel)]="inputBook.umum_res">
        </div>
        <div class="required four wide field" [class.error]="stok.invalid && stok.touched">
          <label>Stok</label>
          <input required pattern="[0-9]*" #stok="ngModel" type="number" name="stok" placeholder="Stok" [(ngModel)]="inputBook.stok">
        </div>
      </div>

      <div class="required field" [class.error]="lokasi.invalid && lokasi.touched">
        <label>Lokasi Buku</label>
        <input required #lokasi="ngModel" type="text" name="lokasi_buku" placeholder="lokasi Buku" [(ngModel)]="inputBook.lokasi">
      </div>

      <div class="required field" [class.error]="gambar.invalid && gambar.touched">
        <label>Link Gambar</label>
        <input required #gambar="ngModel" type="text" name="gambar" placeholder="Link Gambar" [(ngModel)]="inputBook.gambar">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="ui button" type="submit" (click)="onSubmit(inputBook)">Submit</button>
  </div>
</ng-template>

<ng-template #update>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Buku</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="ui form" #bookForm="ngForm">

      <div class="required field" [class.error]="judul.invalid && judul.touched">
        <label>Judul</label>
        <input required #judul="ngModel" type="text" name="judul" placeholder="Judul" [(ngModel)]="updateBook.judul">
      </div>

      <div class="required field" [class.error]="pengarang.invalid && pengarang.touched">
        <label>Pengarang</label>
        <input required #pengarang="ngModel" type="text" name="pengarang" placeholder="pengarang" [(ngModel)]="updateBook.pengarang">
      </div>

      <div class="required field" [class.error]="deskripsi.invalid && deskripsi.touched">
        <label>Deskripsi</label>
        <textarea required rows="2" #deskripsi="ngModel" type="text" name="Deskripsi" placeholder="Deskripsi" [(ngModel)]="updateBook.deskripsi"></textarea>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Edisi</label>
          <input #edisi="ngModel" type="text" name="edisi" placeholder="Edisi" [(ngModel)]="updateBook.edisi">
        </div>
        <div class="required field" [class.error]="tahun_terbit.invalid && tahun_terbit.touched">
          <label>Tahun Terbit</label>
          <input required #tahun_terbit="ngModel" type="text" name="tahun_terbit" placeholder="tahun_terbit" [(ngModel)]="updateBook.tahun_terbit">
        </div>
      </div>

      <div class="two fields">
        <div class="required field" [class.error]="penerbit.invalid && penerbit.touched">
          <label>Penerbit</label>
          <input required #penerbit="ngModel" type="text" name="Penerbit" placeholder="Penerbit" [(ngModel)]="updateBook.penerbit">
        </div>
        <div class="required field">
          <label>ISBN</label>
          <input #isbn="ngModel" type="text" name="isbn" placeholder="isbn" [(ngModel)]="updateBook.isbn">
        </div>
      </div>

      <div class="two fields">
        <div class="required field" [class.error]="bahasa.invalid && bahasa.touched">
          <label>Bahasa</label>
          <input required #bahasa="ngModel" type="text" name="bahasa" placeholder="bahasa" [(ngModel)]="updateBook.bahasa">
        </div>
        <div class="field">
          <label>Kota Terbit</label>
          <input #kota_terbit="ngModel" type="text" name="Kota_Terbit" placeholder="Kota Terbit" [(ngModel)]="updateBook.kota_terbit">
        </div>
      </div>

      <div class="fields">
        <div class="required eight wide field" [class.error]="klasifikasi.invalid && klasifikasi.touched">
          <label>Klasifikasi</label>
          <input required #klasifikasi="ngModel" type="text" name="klasifikasi" placeholder="klasifikasi" [(ngModel)]="updateBook.klasifikasi">
        </div>
        <div class="required four wide field" [class.error]="umum_res.invalid && umum_res.touched">
          <label>Umum/Res</label>
          <input required #umum_res="ngModel" type="text" name="Umum/Res" placeholder="Umum/Res" [(ngModel)]="updateBook.umum_res">
        </div>
        <div class="required four wide field" [class.error]="stok.invalid && stok.touched">
          <label>Stok</label>
          <input required pattern="[0-9]*" #stok="ngModel" type="number" name="stok" placeholder="Stok" [(ngModel)]="updateBook.stok">
        </div>
      </div>

      <div class="required field" [class.error]="lokasi.invalid && lokasi.touched">
        <label>Lokasi Buku</label>
        <input required #lokasi="ngModel" type="text" name="lokasi_buku" placeholder="lokasi Buku" [(ngModel)]="updateBook.lokasi">
      </div>

      <div class="required field" [class.error]="gambar.invalid && gambar.touched">
        <label>Link Gambar</label>
        <input required #gambar="ngModel" type="text" name="gambar" placeholder="Link Gambar" [(ngModel)]="updateBook.gambar">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="ui button" type="submit" (click)="onUpdate(updateBook)">Update</button>
  </div>
</ng-template>

<ng-template #delete>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="onDelete(deleteID)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="onNotDelete()" >No</button>
  </div>
</ng-template>

<ng-template #CategoryTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Kategori</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="ui form" #CategoryForm="ngForm">

      <div *ngFor="let type of Category" class="ui left labeled button" tabindex="0" style="margin-top: 2px; margin-right: 2px">
        <a class="ui basic label">
          {{type.kategori}}
        </a>
        <div class="ui icon button" (click)="onDeleteCategory(type.kategori)">
          <i class="trash icon"></i>
        </div>
      </div>


      <div class="required field" [class.error]="kategori.invalid && kategori.touched" style="margin-top: 1rem">
        <label>Kategori</label>
        <input required #kategori="ngModel" type="text" name="judul" placeholder="Kategori" [(ngModel)]="inputCategory">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="ui button" type="submit" (click)="onSubmitCategory(inputCategory)">Submit</button>
  </div>
</ng-template>

<ng-template #DownloadTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Download Tabel</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="loadingDL;else loadsDL" class="ui segment" style="padding: 200px 0 0 0 ">
      <div class="ui active inverted dimmer">
        <div class="ui large text loader">Memproses tabel</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loadsDL>
  <div style="text-align: center; padding: 10px">
    <button class="btn btn-icon btn-new-menu" style="color: #fff;margin-right: 20px; background-color: #107c41; box-shadow: 0 0 0 0 rgba(34,36,38,.15)"
            (click)="onDownload()">
      <i class="download icon"></i>
      Unduh
    </button>
  </div>
</ng-template>
