<div class="sidebar">
  <img style="height: 40px; margin: 10px" src="../../../../../assets/img/logo/logo.svg"
       alt="logo">
  <a routerLink="/dashboard" routerLinkActive="active" placement="right" ngbTooltip="Dashboard" tooltipClass="custom-tooltip"
     container="body">
    <i class="fas fa-home"></i>
  </a>
  <a routerLink="/log" routerLinkActive="active" placement="right" ngbTooltip="Data Log" tooltipClass="custom-tooltip"
     container="body">
    <i class="fas fa-table"></i>
  </a>
  <a routerLink="/chart" routerLinkActive="active" placement="right" ngbTooltip="Chart" tooltipClass="custom-tooltip"
     container="body">
    <i class="fas fa-chart-line"></i>
  </a>
  <a routerLink="#" routerLinkActive="active" placement="right" ngbTooltip="More" tooltipClass="custom-tooltip"
     container="body">
    <i class="fas fa-ellipsis-h"></i>
  </a>
  <div class="bottom-menu">
    <a href="#" routerLinkActive="active" placement="right" ngbTooltip="Help" tooltipClass="custom-tooltip"
       container="body">
      <i class="fas fa-question-circle"></i>
    </a>
    <a href="#">
      <i class="fas fa-user"></i>
    </a>
  </div>
</div>
